* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  background-image: url('./assets/wood1.png');
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* min-height: 1000px;
  min-width: 1000px; */
  padding: 0 10%;
}

.score-container {
  display: flex;
  width: 100%;
  min-width: 250px;
  /* min-height: 400px; */
}

.score {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* min-height: 12vh; */
  color: hsl(53, 81%, 47%);
  font-size: 2.2rem;
  background: black;
  border: darkred solid;
  border-radius: 2rem 2rem 0 0;
}

.legs {
  /* background-color: black; */
}

.correct,
.timer,
.skipped {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.word {
  font-size: 1.7rem;
}

.game-container {
  display: flex;
  align-items: center;
  border-radius: 1.7rem;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url('./assets/twistypeeps.png');
  text-align: center;
  height: 60vh;
  width: 100%;
  min-height: 300px;
  min-width: 250px;
  border-radius: 0 0 0.8rem 0.8rem;
  box-shadow: 3px 10px 20px rgb(53, 53, 53);
}

.upper {
  height: 92%;
  width: 95%;
  display: flex;
}

.col-1 {
  width: 20%;
  height: 100%;
}

.profession-selector {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.profession-selector ul {
  padding: 30% 0;
  height: 100%;
  min-width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profession-selector li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  background-color: hsl(53, 81%, 47%);
  color: black;
  border: black solid;
  border-radius: 0.7rem;
  cursor: pointer;
}

.active {
  background-color: hsl(53, 81%, 47%) !important;
  border: black solid 3.5px !important;
  font-weight: bolder;
}

.col-2 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.answer {
  display: none;
}

.initials {
  height: 0.5%;
  font-size: 4em;
}

.guesses {
  /* height: %; */
}
.last-wrong-guess {
  height: 1.5rem;
  color: red;
}

.guess input {
  width: 75%;
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .guess input {
    width: 50%;
  }
}

@media screen and (min-width: 1600px) {
  .guess input {
    width: 38%;
  }
}

.guesses button {
  margin-top: 2%;
  padding: 1.5% 1.5%;
  font-size: 1.2rem;
  cursor: pointer;
}

.col-3 {
  width: 20%;
  height: 95%;
}

.correct-guesses {
  color: green;
  max-height: 75%;
  font-size: 1.3rem;
  overflow: auto;
  margin-top: 25%;
}
.correct-guesses h3 {
  color: black;
  text-decoration: underline;
  padding-bottom: 0.2rem;
}

.lower {
  height: 8%;
  width: 95%;
}

.hints {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.hint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  background-color: rgb(110, 110, 110);
  color: white;
  border-radius: 1rem 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 3%;
  }

  .game-board {
    height: 80vh;
  }

  .upper {
    display: flex;
    flex-direction: column;
  }

  .score {
    font-size: 1.8rem;
  }

  .word {
    font-size: 1.2rem;
  }

  .initials {
    height: 50%;
  }

  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
  }

  .col-1 {
    height: 25%;
  }

  .col-2 {
    height: 57%;
  }

  .col-3 {
    height: 20%;
  }

  .profession-selector {
    width: 100%;
    height: 50%;
  }
  .profession-selector ul {
    padding: 0;
    min-width: 0;
    height: inherit;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .profession-selector li {
    margin: 1.5% 1% 0 1%;
    padding: 0 3px;
    border-radius: 0.4rem;
  }

  .initials {
    margin-top: 4%;
    padding: 0.6rem 0;
    font-size: 3rem;
  }

  .guess input {
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }

  .correct-guesses {
    /* padding-top: 5%; */
    max-height: 4rem;
    overflow: scroll;
    margin-top: 5%;
  }

  .lower {
    height: 8%;
    width: 100%;
  }

  .hint {
    width: 100%;
    border-radius: 0;
    border-bottom: 1.2px solid black;
  }
  .hint:first-child {
    border-radius: 0 0 0 0.8rem;
  }
  .hint:last-child {
    border-radius: 0 0 0.8rem 0;
  }
}
